.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.ceklist {
  list-style-image: url("/img/centang.png");
  height: 34px;
  padding-top: 0px;
}

.cars-box-search {
  width: 90%;
  margin-top: -55px;
  border-radius: 20px;
  font-size: 12px;
  background-color: white;
  z-index: 1;
  position: relative;
  box-shadow: inset 0 0 1px 1px #c9c9c9;
}

@media screen and (max-width: 1400px) {
  .cars-box-search {
    width: 80%;
    margin-top: 50px;
  }
}
@media screen and (max-width: 767px) {
  .cars-box-search {
    width: 100%;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .inputTime,
  .inputDate {
    width: 160px;
  }
  .inputPassanger,
  .inputDriver {
    width: 180px;
  }
}
